@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100%;
    background-color: white;
  }
  body {
    height: 100%;
  }
}

@font-face {
  font-family: 'lovelo'; /*Can be any text*/
  font-weight: 400;
  src: local('Lovelo-Black'),
    url('../assets/Lovelo-Black.ttf') format('truetype');
}
